{% extends "base.html" %}

{% block title %}List Months{% endblock %}

{% block content %}
<header class="header">
  <div class="container">
    <div class="header-left-content">
      <img
        src="{{ url_for('static', filename='img/logo/64x64.png') }}"
        alt="Mommy"
      />
    </div>

    <div class="header-right-content">
      <div>
        <a href="{{ url_for('authentication.sign_up') }}" class="header-link"
          >Create an account</a
        >
      </div>
    </div>
  </div>
</header>

<main class="container flex-column">
  <section>
    <div>
      <h1 class="title">Summary</h1>
    </div>

    <div class="row">
      <div class="column">
        <div class="card content-box justify-center">
          <div>
            <a href="" class="link">March 2022</a>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card content-box justify-center">
          <div>
            <a href="" class="link">April 2022</a>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card content-box justify-center">
          <div>
            <a href="" class="link">May 2022</a>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card content-box justify-center">
          <div>
            <a href="" class="link">June 2022</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
