{% extends "base.html" %}

{% block title %}List Months{% endblock %}

{% block content %}
<header class="header">
  <div class="container">
    <div class="header-left-content">
      <img
        src="{{ url_for('static', filename='img/logo/64x64.png') }}"
        alt="Mommy"
      />
    </div>

    <div class="header-right-content">
      <div>
        <a href="{{ url_for('authentication.sign_up') }}" class="header-link"
          >Create an account</a
        >
      </div>
    </div>
  </div>
</header>

<main class="container flex-column">
  <section>
    <div>
      <h1 class="title">Closed Months</h1>
    </div>

    {% for month in closed_months %}
      <div class="row">
        <div class="column">
          <div class="card content-box justify-center">
            <div>
              <a href="{{ url_for('share.get_month', month_id=month.id) }}" class="link">{{ month.month }} {{ month.year }}</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </section>
</main>
{% endblock %}
