{% extends "base.html" %}

{% block title %}{{ summary.month }}{% endblock %}

{% block content %}
<header class="header">
  <div class="container">
    <div class="header-left-content">
      <img
        src="{{ url_for('static', filename='img/logo/64x64.png') }}"
        alt="Mommy"
      />
    </div>

    <div class="header-right-content">
      <div>
        <a href="{{ url_for('authentication.sign_up') }}" class="header-link"
          >Create an account</a
        >
      </div>
    </div>
  </div>
</header>

<main class="container flex-column">
  <section>
    <div>
      <h1 class="title">Summary</h1>
    </div>

    <div class="row">
      <div class="column">
        <div class="card content-box">
          <div class="card-icon">
            <i class="bx bx-calendar"></i>
          </div>

          <div>
            <div class="card-content-top">
              <p>Month</p>
            </div>

            <div class="card-content-bottom">
              <p>{{ summary.month }}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card content-box">
          <div class="card-icon">
            <i class="bx bx-extension"></i>
          </div>

          <div>
            <div class="card-content-top">
              <p>Prototypes</p>
            </div>

            <div class="card-content-bottom">
              <p>{{ summary.prototypes_made }}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card content-box">
          <div class="card-icon">
            <i class="bx bx-cloud"></i>
          </div>

          <div>
            <div class="card-content-top">
              <p>Stones</p>
            </div>

            <div class="card-content-bottom">
              <p>{{ summary.stones_made }}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card content-box">
          <div class="card-icon">
            <i class="bx bx-wallet"></i>
          </div>

          <div>
            <div class="card-content-top">
              <p>Profit</p>
            </div>

            <div class="card-content-bottom">
              <p>{{ summary.profit }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div>
      <h1 class="title">Details</h1>
    </div>

    <div class="content-box">
      <div class="container-table">
        <table>
          <thead>
            <th>Date</th>
            <th>Name</th>
            <th>Value</th>
            <th>Quantity</th>
            <th>Profit</th>
          </thead>

          <tbody>
            {% for prototype in details %}
            <tr>
              <td>{{ prototype.date }}</td>
              <td>
                <p>{{ prototype.name }}</p>
                <p>{{ prototype.stones }}</p>
              </td>
              <td>{{ prototype.profit }}</td>
              <td>
                <p>Prototypes: {{ prototype.prototypes_made }}</p>
                <p>Stones: {{ prototype.stones_made }}</p>
              </td>
              <td>{{ prototype.profit }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </section>
</main>
{% endblock %}
