{% extends "base.html" %}

{% block title %}Add Prototype{% endblock %}

{% block content %}
<div class="split-container">
  <div class="left-division">
    <img
      src="{{ url_for('static', filename='img/logo/256x256.png') }}"
      alt="Mommy"
    />
  </div>

  <div class="right-division">
    <div class="form-container">
      <form action="{{ url_for('dashboard.add_prototype') }}" method="post">
        {{ form.hidden_tag() }}
        <div>
          <label for="name" class="form-label">Name</label>
          {{
            form.name(
              class="form-input",
              minlength="2",
              maxlength="32"
            )
          }}
        </div>

        <div>
          <label for="stones" class="form-label">Stones</label>
          {{
            form.stones(
              class="form-input",
              min="1",
              max="400"
            )
          }}
        </div>

        <div>
          <label for="made" class="form-label">Made</label>
          {{
            form.made(
              class="form-input",
              min="1",
              max="300"
            )
          }}
        </div>

        <div class="flex form-radio-container">
          {% for subfield in form.value %}
            {{ subfield(class="form-radio") }}
            {{ subfield.label(class="form-radio-label") }}
          {% endfor %}
        </div>

        <div>
          {{ form.submit(class="button primary w-full") }}
        </div>

        <div class="text-center">
          <a href="{{ url_for('dashboard.home') }}" class="link"
            >Back to panel</a
          >
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
