{% extends "base.html" %}

{% block title %}Add Prototype{% endblock %}

{% block content %}
<div class="split-container">
  <div class="left-division">
    <img
      src="{{ url_for('static', filename='img/logo/256x256.png') }}"
      alt="Mommy"
    />
  </div>

  <div class="right-division">
    <div class="form-container">
      <form
        action="{{ url_for('dashboard.remove_prototype', prototype_id=prototype.id, ask='No') }}"
        method="get"
      >
        <div class="text-center">
          <p>
            You are about to remove the
            <span class="bold">{{ prototype.name }}</span> prototype, are you
            sure?
          </p>
        </div>

        <div>
          <input
            type="submit"
            value="Yes, remove"
            class="button primary w-full"
          />
        </div>

        <div class="text-center">
          <a href="{{ url_for('dashboard.home') }}" class="link"
            >Back to panel</a
          >
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
