{% extends "base.html" %}

{% block title %}Share{% endblock %}

{% block content %}
<script>
  function copy_share_url_to_clipboard() {
    host = window.location.host;
    share = "{{ url_for('share.list_closed_months', user_id=user_id) }}";

    navigator.clipboard.writeText(host + share);
  }
</script>

<header class="header">
  <div class="container">
    <div class="header-left-content">
      <img
        src="{{ url_for('static', filename='img/logo/64x64.png') }}"
        alt="Mommy"
      />
    </div>

    <div class="header-right-content">
      <div>
        <a href="{{ url_for('dashboard.home') }}" class="header-link">Home</a>
      </div>

      <div>
        <a href="{{ url_for('dashboard.share') }}" class="header-link">Share</a>
      </div>
    </div>
  </div>
</header>

<main class="container flex-column">
  <section>
    <div>
      <h1 class="title">Share</h1>
    </div>

    <div class="content-box flex">
      <div>
        <button onclick="copy_share_url_to_clipboard()" class="button primary">
          Copy Link
        </button>
      </div>
    </div>
  </section>
</main>
{% endblock %}
