{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="split-container">
  <div class="left-division">
    <img
      src="{{ url_for('static', filename='img/logo/256x256.png') }}"
      alt="Mommy"
    />
  </div>

  <div class="right-division">
    <div class="form-container">
      <form action="{{ url_for('authentication.sign_up') }}" method="post">
        {{ form.hidden_tag() }}
        <div>
          <label for="email" class="form-label">E-mail</label>
          {{
            form.email(
              class="form-input",
              minlength="6",
              maxlength="254"
            )
          }}
          {% for error in form.email.errors %}
            <script>
              set_invalid_input("email");
            </script>

            <p class="form-text-error">{{ error }}</p>
          {% endfor %}
        </div>

        <div>
          <label for="password" class="form-label">Password</label>
          {{
            form.password(
              class="form-input",
              minlength="8",
              maxlength="38"
            )
          }}
          {% for error in form.password.errors %}
            <script>
              set_invalid_input("password");
            </script>

            <p class="form-text-error">{{ error }}</p>
          {% endfor %}
        </div>

        <div>
          <label for="confirm_password" class="form-label">
            Confirm Password
          </label>
          {{
            form.confirm_password(
              class="form-input",
              minlength="8",
              maxlength="38"
            )
          }}
          {% for error in form.confirm_password.errors %}
            <script>
              set_invalid_input("confirm_password");
            </script>

            <p class="form-text-error">{{ error }}</p>
          {% endfor %}
        </div>

        <div>
          {{ form.submit(class="button primary w-full") }}
        </div>

        <div class="text-center">
          <p>
            Have an account?
            <a href="{{ url_for('authentication.sign_in') }}" class="link"
              >Sign In!</a
            >
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
